layout {
    cwd "$PROJECT_SRC"
    
    tab name="packer" cwd="packer-templates-homelab" split_direction="vertical" focus=true {
        pane cwd="." size="50%"
        pane cwd="." size="50%"
    }
    tab name="provider" cwd="terraform-provider-homelab" split_direction="vertical" {
        pane cwd="." size="50%"
        pane cwd="." size="50%"
    }
    tab name="catalog" cwd="terragrunt-catalog-homelab" split_direction="vertical" {
        pane cwd="." size="50%"
        pane cwd="." size="50%"
    }
    tab name="stacks" cwd="terragrunt-stacks-homelab" split_direction="vertical" {
        pane cwd="." size="50%"
        pane cwd="." size="50%"
    }
    tab name="ansible-playbook" cwd="ansible/ansible-playbook-homelab" split_direction="vertical" {
        pane cwd="." size="50%"
        pane cwd="." size="50%"
    }
    tab name="ansible-collection" cwd="ansible/ansible-collection-homelab" split_direction="vertical" {
        pane cwd="." size="50%"
        pane cwd="." size="50%"
    }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}